html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #444;
}

body {
    margin: 0 auto;
    width: 1024px;
    background-color:rgb(235, 235, 224);
}
#logo {
    width: 100px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid black 2px;
    padding: 0 24px;
}

#search-container {
    position: relative;
}

#search-box {
    width: 553px;
    height: 27px;
}

#search-button {
    position: absolute;
    width: 66px;
    height: 33px;
}

#signin-button {
    background-color: rgb(22, 122, 198);
    color: white;
    padding: 10px 15px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
}
main {
    display: flex;
    background-color:rgb(235, 235, 224);
}

#video, #recommended, #video-actions, #video-description {
    background-color: white;
    text-decoration: none;
}
iframe {
    width: 600px;
    height: 300px;
}
#video-title {
    font-weight: normal;
}
#video-info {
    display: flex;
    /* justify-content: space-between; */
    font-size: 14px;
    /* height: 95px; */
    /* width: 349px; */
    padding: 5px;
}

#channel-info {
    display: flex;
    font-size: 14px;
    height: 95px;
    width: 349px;
    padding: 5px;
}
#video-actions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;

}
#actions a {
    text-decoration: none;
}

#views-count {
}
#video-date {
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
}
#video-text {
    font-size: .8rem;
    margin: 0;
}
#upnext-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#upnext-video p {
    margin: 0;
}
#upnext-video div {
    display: flex;
    align-items: center;
}
.recommended-videos {
    display: flex;
    font-size: 14px;
    height: 95px;
    width: 349px;
    padding: 5px;
}

.recommended-info p {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.recommended-title {
    font-weight: bold;
}

.recommended-channel, .recommended-views {
    font-size: .7rem;
}